html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a,img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

body, p, ul, li ,button, h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}

img {
    border: none;
}

body {
    font-family: 'Microsoft Yahei';
    font-size: 12px;
}
a{
    text-decoration: none;
}

@mixin size($width,$height){
    width: $width;
    height: $height;
}
@mixin bg($bg-info,$type:false){
    background: $bg-info;
    @if $type {
        background-size: $type;
    }
}
@mixin font-dpr($font-size){
    font-size: $font-size;

    [data-dpr="2"] & {
        font-size: $font-size * 2;
    }

    [data-dpr="3"] & {
        font-size: $font-size * 3;
    }
}

.off {
    display: none !important;
}

.fl {
    float: left !important;
}

.fr {
    float: right !important;
}

.text-center {
    text-align: center !important;
}

.m-0 {
    margin: 0 !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.mtb-15 {
    margin:{
        top: 15px !important;
        bottom: 15px !important;
    };
}

.mtb-30 {
    margin:{
        top: 30px !important;
        bottom: 30px !important;
    };
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-30 {
    margin-right: 30px !important;
}