@charset "UTF-8";
@mixin getIcon($icons,$iconName, $isHover: false){
  @warn $icons;
  $iconWidth: image-width(sprite-file($icons, $iconName));
  $iconHeight: image-height(sprite-file($icons, $iconName));
  $imgWidth: image-width(sprite-path($icons));
  $posX: nth(sprite-position($icons, $iconName), 1);
  @if $posX != 0{
    background-position: ($posX / ($iconWidth - $imgWidth) * 100%) 0;
  } @else{
    background-position: 0 0;
  }
  @if $isHover == false{
    width: $iconWidth / $ppr;
    height: $iconHeight / $ppr;
    display: inline-block;
    background-image: sprite-url($icons);
    background-repeat: no-repeat;
    background-size: image-width(sprite-path($icons)) / $ppr;
  }
}
