// Font style
$font-primary: Arial, Helvetica, sans-serif;
$font-size: 13px;

// Color uses
$color-bg:             #fbfbfb;
$color-text:           #000;
$color-nav:            #000;
$color-nav--hover:     #000;
$color-link:           #319eea;
$color-link-hover:    #000;

// Others
$legacy-support-for-ie: true !default;
$wp-width: 996px;