@charset "utf-8";
/**
 * @func 海贼王官网
 * @author 寒影
 * @date 2016-08-15
 */
@import "common/_reset.scss";

/* $icons-spacing:1px;
$icons-layout:"horizontal";
@import "sites/games/hzw/icons/*.png";
@include all-icons-sprites; */

$baseUrl:"http://localhost:8889/img/sites/games/hzw/";

.off{
    display: none !important;
}
.page{
    @include size(auto,auto);
    min-width: 1200px;
    .wrap{
        @include size(1200px,auto);
        margin:0 auto;
    }
}
.top{
    @include size(auto,1081px);
    @include bg(url($baseUrl+'bg-s-body.jpg') center no-repeat);
    .nav-wrap{
        @include size(auto,78px);
        background-color:#0061BC;
        ul{
            @include size(440px,100%);
            margin-top: 24px;
        }
        .nav-left{
            float: left;
            li{
                margin-right: 10px;
            }
        }
        .nav-right{
            float: right;
            li{
                margin-left:10px;
            }
        }
        .nav{
            float: left;
            @include size(136px,30px);
            background-color:#003081;
            border-radius:25px;
            cursor: pointer;
            &:hover{
                background-color:#000E52;
            }
            a{
                display: block;
                @include size(100%,100%);
                border-radius:25px;
            }
            i{
                position: relative;
                display: block;
                margin:0 auto;
                top:50%;
                transform: translateY(-50%);
            }
        }
        .home{
            @include size(84px,31px);
        }
        .news{
            @include size(81px,30px);
        }
        .load{
            @include size(122px,24px);
        }
        .store{
            @include size(78px,35px);
        }
        .service{
            @include size(99px,24px);
        }
        .player{
            @include size(94px,31px);
        }
    }
    .logo-hzw{
        display: block;
        position: absolute;
        @include size(313px,129px);
        top:25px;
        left:50%;
        transform: translateX(-50%);
        @include bg(url($baseUrl+'logo-hzw.png') no-repeat);
    }
}
.foot{
    @include size(auto,50px);
    padding-top:28px;
    background-color: #FFF4DF;
    .footer{
        @include size(410px,25px);
        margin:0 auto;
        .gmthai{
            float: left;
            @include size(100px,24px);
        }
        .copyright{
            float: right;
            font-size: 14px;
            line-height: 25px;
            color:#6C85B5;
        }
    }
}